# STAT 201 Project Proposal

 *Group members: Calvin Choi & Mikel Ibarra*

## Introduction

## Preliminary results

In [2]:
# Loading libraries
library(readxl)
library(ggplot2)                     
library(GGally)
library(cowplot)
library(dplyr)
library(gridExtra)
library(repr)
library(infer)
library(repr)
library(tidyverse)
library(tidymodels)
library("httr")
library("readxl")

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ tibble  3.1.8     ✔ purrr   0.3.4
✔ tidyr   1.2.1     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ gridExtra::combine() masks dplyr::combine()
✖ dplyr::filter()      masks stats::filter()
✖ dplyr::lag()         masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.1     ✔ rsample      1.1.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ modeldata    1.0.1     ✔ workflows    1.0.0
✔ parsnip      1.0.1     ✔ workflowsets 1.0.0
✔ recipes      1.0.1     ✔ yardstick    1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ gridExtra::combine() masks dplyr::combine()
✖ scales::discard()    masks purrr::discard()
✖ dplyr::filter()      masks stats::filter()
✖ recipes::fixed()     masks stringr::fixed()
✖ dplyr::lag()         masks stats::lag()
✖ yardstick::spec()    masks readr::spec()
✖ recipes::step()      masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

In [3]:
# Reading the data into R & cleaning it
GET("https://query.data.world/s/ruhaqjcq4u7rt3as2a25uvqj3yab66?dws=00000", write_disk(tf <- tempfile(fileext = ".xls")))
AStat <- read_excel(tf) |> # read csv from (https://query.data.world/s/ruhaqjcq4u7rt3as2a25uvqj3yab66?dws=00000)
         na.omit()                                                     # removing NA values
head(AStat)

Response [https://download.data.world/file_download/adamhelsinger/united-airlines-data/United%20Airlines%20Aircraft%20Operating%20Statistics-%20Actuals.xls?auth=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Om1pa2liYXJyYTAzNCIsImlzcyI6ImFnZW50Om1pa2liYXJyYTAzNDo6MmRmMzY2M2MtZGNiOS00MTU5LWJmMzMtNmJmOTMxOTdiZDMxIiwiaWF0IjoxNjc5MTc1OTYxLCJyb2xlIjpbInVzZXIiLCJ1c2VyX2FwaV9hZG1pbiIsInVzZXJfYXBpX2VudGVycHJpc2VfYWRtaW4iLCJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjpmYWxzZSwidXJsIjoiY2IxZDE2MjRkYTRlY2IwOTM2YzMyMWYyOWQ3NmM4MDZmNmVmYWM4ZiJ9.TyxB8IMBen0bXy3UzjRrM-RhcEkiTNjr7Pi2QlavAWfUKNWFzWs2cEWgjf56UelG9epCeRJUGqnM5obAi_Wy8g]
  Date: 2023-03-18 21:48
  Status: 200
  Content-Type: application/vnd.ms-excel
  Size: 103 kB
<ON DISK>  /tmp/Rtmp2Ru0Xk/file3c29f108.xlsNULL

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`
• `` -> `...15`
• `` -> `...16`
• `` -> `...17`
• `` -> `...18`
• `` -> `...19`
• `` -> `...20`
• `` -> `...21`
• `` -> `...22`
• `` -> `...23`

  United Airlines Aircraft Operating Statistics- Actuals ...2
1 N1                                                     Sum of Block Hours
2 N1                                                     Sum of Airborne Hours
3 N1                                                     Sum of Departures
4 N1                                                     Sum of RPMs
5 N1                                                     Sum of ASMs
6 N1                                                     Sum of Miles
  ...3        ...4        ...5        ...6        ...7        ...8
1     1114875     1144173     1160935     1159225     1219822     1251742
2      931812      958162      969695      968411     1010521     1028648
3      580483      579248      582116      565457      577901      580104
4 34532235000 36831941000 37527616000 38499368000 39365256000 39508133000
5 51054514000 52899290000 53954505000 54894989000 57675637000 56753139000
6   401510305   414535134   419974756   419764630   439361183   444981631
  ...9        ...10       ⋯ ...14       ...15       ...16       ...17
1     1175233      991704 ⋯      948700      930107      843979      644530
2      977411      831163 ⋯      916860      933277      844918      646647
3      536710      443355 ⋯      374105      367853      336510      259240
4 37465421000 32780856678 ⋯ 37882535514 36957512698 33422313671 26400345213
5 53962804000 46012114200 ⋯ 46338790494 44761446708 40677451356 32266751052
6   425713355   363368085 ⋯   352220970   340752609   308465451   239878261
  ...18       ...19       ...20       ...21       ...22       ...23
1      582167      576215      759767      698859      662363      636860
2      583888      578106      761557      701202      663131      636838
3      224710      212076      264767      238843      226946      233644
4 24848149389 25315632114 31888909322 30221115334 29547567311 28423970064
5 29928735966 29972381436 38386996444 35799812586 34595796112 33226769546
6   223507104   223616760   295036339   272689062   255325000   241168236

## Methods: Plan

## Refferences

1. Alberts, W. E., &amp; Seymour, W. H. (1965). Operating expense forecasting for scheduled airline services. SAE Technical Paper Series. https://doi.org/10.4271/650245 

2.