# STAT 201 Project Proposal

 *Group members: Calvin Choi & Mikel Ibarra*...26...26

In [ ]:
# Loading libraries
library(readxl)
library(ggplot2)                     
library(GGally)
library(cowplot)
library(dplyr)
library(gridExtra)
library(repr)
library(infer)
library(repr)
library(tidyverse)
library(tidymodels)

## Introduction

## Preliminary results

In [13]:
# Reading the data into R & tidy the data
AStat <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00485/google_review_ratings.csv") |>
            # read csv from (https://archive.ics.uci.edu/ml/machine-learning-databases/00485/google_review_ratings.csv)
    select(!...26)
head(AStat)

New names:
• `` -> `...26`
Warning message:
“One or more parsing issues, see `problems()` for details”
Rows: 5456 Columns: 26
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): User
dbl (24): Category 1, Category 2, Category 3, Category 4, Category 5, Catego...
lgl  (1): ...26

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  User   Category 1 Category 2 Category 3 Category 4 Category 5 Category 6
1 User 1 0          0.0        3.63       3.65       5          2.92
2 User 2 0          0.0        3.63       3.65       5          2.92
3 User 3 0          0.0        3.63       3.63       5          2.92
4 User 4 0          0.5        3.63       3.63       5          2.92
5 User 5 0          0.0        3.63       3.63       5          2.92
6 User 6 0          0.0        3.63       3.63       5          2.92
  Category 7 Category 8 Category 9 ⋯ Category 15 Category 16 Category 17
1 5          2.35       2.33       ⋯ 1.74        0.59        0.5
2 5          2.64       2.33       ⋯ 1.74        0.59        0.5
3 5          2.64       2.33       ⋯ 1.74        0.59        0.5
4 5          2.35       2.33       ⋯ 1.74        0.59        0.5
5 5          2.64       2.33       ⋯ 1.74        0.59        0.5
6 5          2.63       2.33       ⋯ 1.74        0.59        0.5
  Category 18 Category 19 Category 20 Category 21 Category 22 Category 23
1 0           0.5         0           0           0           0
2 0           0.5         0           0           0           0
3 0           0.5         0           0           0           0
4 0           0.5         0           0           0           0
5 0           0.5         0           0           0           0
6 0           0.5         0           0           0           0
  Category 24
1 0
2 0
3 0
4 0
5 0
6 0

Here we can see each individual column corresponds to one of the following attributes:

## Methods: Plan

## Refferences

1. 

2.